@media only screen and (max-width: 1440px) {
    .app_container {
        width: 90%;
    }
}



@media only screen and (max-width: 768px) {

    .partone {
        grid-template-areas:
            "TitleOne TitleOne "
            "graphOne graphOne "
            "TitleTwo TitleTwo "
            "graphTwo graphTwo ";
    }

    .partThree {
        grid-template-areas:
            "title"
            "chart1"
            "tag1"
            "title2"
            "chart2"
            "tag2";
        grid-template-rows: 50px 300px 50px 50px 300px 50px;
        height: 1000px;

    }



}